{
    "openapi": "3.0.0",
    "info": {
        "title": "APIs Regulatórias Pix Recebimentos",
        "version": "2.69.36",
        "description": "API Emissão/Alteração, Devolução, Location, Lote e Devolução de QRCodes PIX para Participantes Diretos\n"
    },
    "servers": [
        {
            "url": "https://secure.api.itau/pix_recebimentos/v2"
        }
    ],
    "paths": {
        "/cob/{txid}": {
            "put": {
                "tags": [
                    "QR Code imediato (COB)"
                ],
                "operationId": "put/cob/{txid}",
                "description": "API para emitir um QR Code imediato.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/x-itau-apikey"
                    },
                    {
                        "$ref": "#/components/parameters/x-itau-correlationID"
                    },
                    {
                        "$ref": "#/components/parameters/txid"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/cobrancaImediataPutRequest"
                            },
                            "examples": {
                                "emissão de cobranca imediata com campos mínimos obrigatórios": {
                                    "$ref": "#/components/examples/request_put_cobranca_imediata_campos_obrigatorios"
                                },
                                "emissão de cobrança imediata com todos os campos": {
                                    "$ref": "#/components/examples/request_put_cobranca_imediata_completo"
                                },
                                "emissão de saque pix com campos mínimos obrigatórios": {
                                    "$ref": "#/components/examples/request_post_cobranca_imediata_saque_campos_obrigatorios"
                                },
                                "emissão de saque pix com todos os campos": {
                                    "$ref": "#/components/examples/request_post_cobranca_imediata_saque_completo"
                                },
                                "emissão de troco pix com campos mínimos obrigatórios": {
                                    "$ref": "#/components/examples/request_post_cobranca_imediata_troco_campos_obrigatorios"
                                },
                                "emissão de troco pix com todos os campos": {
                                    "$ref": "#/components/examples/request_post_cobranca_imediata_troco_completo"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaImediataPutResponse"
                                },
                                "examples": {
                                    "cobrança imediata emitida com sucesso": {
                                        "$ref": "#/components/examples/200_cobranca_imediata_txid"
                                    },
                                    "cobrança com saque pix emitida com sucesso": {
                                        "$ref": "#/components/examples/201_cobranca_imediata_saque"
                                    },
                                    "cobrança com troco pix emitida com sucesso": {
                                        "$ref": "#/components/examples/201_cobranca_imediata_troco"
                                    }
                                }
                            }
                        },
                        "description": "Cobrança imediata criada"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaImediata_400"
                                }
                            }
                        },
                        "description": "Requisição com formato inválido."
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaImediata_403"
                                }
                            }
                        },
                        "description": "Requisição de participante autenticado que viola alguma regra de autorização."
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaImediata_404"
                                }
                            }
                        },
                        "description": "Recurso solicitado não foi encontrado."
                    },
                    "503": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaImediata_503"
                                }
                            }
                        },
                        "description": "Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento."
                    }
                },
                "security": [
                    {
                        "APIGatewaySTSAuthorizer": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "QR Code imediato (COB)"
                ],
                "operationId": "patch/cob/{txid}",
                "description": "API para alterar ou cancelar um QR Code imediato.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/x-itau-apikey"
                    },
                    {
                        "$ref": "#/components/parameters/x-itau-correlationID"
                    },
                    {
                        "$ref": "#/components/parameters/txid"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/cobrancaImediataPatchRequest"
                            },
                            "examples": {
                                "alteração de cobrança imediata com todos os campos": {
                                    "$ref": "#/components/examples/request_patch_cobranca_imediata_completo"
                                },
                                "alteração de valor original": {
                                    "$ref": "#/components/examples/request_patch_cobranca_imediata_valor_original"
                                },
                                "alteração de modalidade de alteração": {
                                    "$ref": "#/components/examples/request_patch_cobranca_imediata_modalidade_alteracao"
                                },
                                "alteração de devedor": {
                                    "$ref": "#/components/examples/request_patch_cobranca_imediata_devedor"
                                },
                                "alteração de identificador de location": {
                                    "$ref": "#/components/examples/request_patch_cobranca_imediata_loc_id"
                                },
                                "alteração de expiração": {
                                    "$ref": "#/components/examples/request_patch_cobranca_imediata_calendario_expiracao"
                                },
                                "alteração de chave pix": {
                                    "$ref": "#/components/examples/request_patch_cobranca_imediata_chave"
                                },
                                "alteração de solicitação pagador": {
                                    "$ref": "#/components/examples/request_patch_cobranca_imediata_solicitacao_pagador"
                                },
                                "alteração de informações adicionais": {
                                    "$ref": "#/components/examples/request_patch_cobranca_imediata_informacoes_adicionais"
                                },
                                "cancelamento da cobrança": {
                                    "$ref": "#/components/examples/request_patch_cobranca_imediata_status"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaImediataPatchResponse"
                                },
                                "examples": {
                                    "cobrança imediata alterada com sucesso": {
                                        "$ref": "#/components/examples/201_cobranca_imediata_txid"
                                    }
                                }
                            }
                        },
                        "description": "Cobrança imediata revisada. A revisão deve ser incrementada em 1."
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaImediata_400"
                                }
                            }
                        },
                        "description": "Requisição com formato inválido."
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaImediata_403"
                                }
                            }
                        },
                        "description": "Requisição de participante autenticado que viola alguma regra de autorização."
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaImediata_404"
                                }
                            }
                        },
                        "description": "Recurso solicitado não foi encontrado."
                    },
                    "503": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaImediata_503"
                                }
                            }
                        },
                        "description": "Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento."
                    }
                },
                "security": [
                    {
                        "APIGatewaySTSAuthorizer": []
                    }
                ]
            },
            "get": {
                "tags": [
                    "QR Code imediato (COB)"
                ],
                "operationId": "get/cob/{txid}",
                "description": "API para consultar um QR Code imediato específico através do identificador do QR Code (txid).",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobranca"
                                },
                                "examples": {
                                    "Consulta de cobranças imediata ativa": {
                                        "$ref": "#/components/examples/response_200_consulta_cobranca_imediata_ativa_by_txid"
                                    },
                                    "Consulta de cobranças imediata paga e devolvida": {
                                        "$ref": "#/components/examples/response_200_consulta_cobranca_imediata_paga_e_devolvida_by_txid"
                                    },
                                    "Consulta de cobranças saque ativo": {
                                        "$ref": "#/components/examples/response_200_consulta_cobranca_saque_pix_ativo"
                                    },
                                    "Consulta de cobranças saque pago e devolvido": {
                                        "$ref": "#/components/examples/response_200_consulta_cobranca_saque_pix_paga_e_devolvido"
                                    },
                                    "Consulta de cobranças troco ativo": {
                                        "$ref": "#/components/examples/response_200_consulta_cobranca_troco_pix_ativo"
                                    },
                                    "Consulta de cobranças troco removido": {
                                        "$ref": "#/components/examples/response_200_consulta_cobranca_troco_pix_removido"
                                    }
                                }
                            }
                        },
                        "description": "OK",
                        "headers": {
                            "Content-Location": {
                                "description": "URI correspondente a pesquisa corrente",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "204": {
                        "$ref": "#/components/responses/204_get"
                    },
                    "303": {
                        "$ref": "#/components/responses/303_get"
                    },
                    "400": {
                        "$ref": "#/components/responses/400_get"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_get"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimento_403"
                                }
                            }
                        },
                        "description": "Requisição de participante autenticado que viola alguma regra de autorização."
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimento_404"
                                }
                            }
                        },
                        "description": "Recurso solicitado não foi encontrado."
                    },
                    "405": {
                        "$ref": "#/components/responses/405_get"
                    },
                    "422": {
                        "$ref": "#/components/responses/422_get"
                    },
                    "428": {
                        "$ref": "#/components/responses/428_get"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_get"
                    },
                    "501": {
                        "$ref": "#/components/responses/501_get"
                    },
                    "503": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimento_503"
                                }
                            }
                        },
                        "description": "Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento."
                    },
                    "504": {
                        "$ref": "#/components/responses/504_get"
                    }
                },
                "parameters": [
                    {
                        "in": "path",
                        "name": "txid",
                        "required": true,
                        "description": "Txid a ser consultado.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "revisao",
                        "required": false,
                        "description": "Id de transação do documento, utilizado para a sua identificação no banco central",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [
                    {
                        "APIGatewaySTSAuthorizer": []
                    }
                ]
            }
        },
        "/cob": {
            "post": {
                "tags": [
                    "QR Code imediato (COB)"
                ],
                "operationId": "post/cob",
                "description": "API para emitir um QR Code imediato em que o Itaú é responsável por criar o identificador do QR Code (txid).",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/x-itau-apikey"
                    },
                    {
                        "$ref": "#/components/parameters/x-itau-correlationID"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/cobrancaImediataPostRequest"
                            },
                            "examples": {
                                "emissão de cobranca imediata com campos mínimos obrigatórios": {
                                    "$ref": "#/components/examples/request_post_cobranca_imediata_campos_obrigatorios"
                                },
                                "emissão de cobranca imediata com todos os campos": {
                                    "$ref": "#/components/examples/request_post_cobranca_imediata_completo"
                                },
                                "emissão de saque pix com campos mínimos obrigatórios": {
                                    "$ref": "#/components/examples/request_post_cobranca_imediata_saque_campos_obrigatorios"
                                },
                                "emissão de saque pix com todos os campos": {
                                    "$ref": "#/components/examples/request_post_cobranca_imediata_saque_completo"
                                },
                                "emissão de troco pix com campos mínimos obrigatórios": {
                                    "$ref": "#/components/examples/request_post_cobranca_imediata_troco_campos_obrigatorios"
                                },
                                "emissão de troco pix com todos os campos": {
                                    "$ref": "#/components/examples/request_post_cobranca_imediata_troco_completo"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaImediataPostResponse"
                                },
                                "examples": {
                                    "cobrança imediata emitida com sucesso": {
                                        "$ref": "#/components/examples/201_cobranca_imediata"
                                    },
                                    "cobrança com saque pix emitida com sucesso": {
                                        "$ref": "#/components/examples/201_cobranca_imediata_saque"
                                    },
                                    "cobrança com troco pix emitida com sucesso": {
                                        "$ref": "#/components/examples/201_cobranca_imediata_troco"
                                    }
                                }
                            }
                        },
                        "description": "Cobrança imediata criada"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaImediata_400"
                                }
                            }
                        },
                        "description": "Requisição com formato inválido."
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaImediata_403"
                                }
                            }
                        },
                        "description": "Requisição de participante autenticado que viola alguma regra de autorização."
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaImediata_404"
                                }
                            }
                        },
                        "description": "Recurso solicitado não foi encontrado."
                    },
                    "503": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaImediata_503"
                                }
                            }
                        },
                        "description": "Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento."
                    }
                },
                "security": [
                    {
                        "APIGatewaySTSAuthorizer": []
                    }
                ]
            },
            "get": {
                "tags": [
                    "QR Code imediato (COB)"
                ],
                "operationId": "get/cob",
                "description": "API para consultar uma listagem de QR Codes imediatos.",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancas"
                                },
                                "examples": {
                                    "Consulta de cobranças imediata": {
                                        "$ref": "#/components/examples/response_200_consulta_cobranca_imediata_list"
                                    }
                                }
                            }
                        },
                        "description": "Lista de cobranças imediatas.",
                        "headers": {
                            "Content-Location": {
                                "description": "URI correspondente a pesquisa corrente",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "204": {
                        "$ref": "#/components/responses/204_get"
                    },
                    "303": {
                        "$ref": "#/components/responses/303_get"
                    },
                    "400": {
                        "$ref": "#/components/responses/400_get"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_get"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimento_403"
                                }
                            }
                        },
                        "description": "Requisição de participante autenticado que viola alguma regra de autorização."
                    },
                    "404": {
                        "$ref": "#/components/responses/404_get"
                    },
                    "405": {
                        "$ref": "#/components/responses/405_get"
                    },
                    "422": {
                        "$ref": "#/components/responses/422_get"
                    },
                    "428": {
                        "$ref": "#/components/responses/428_get"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_get"
                    },
                    "501": {
                        "$ref": "#/components/responses/501_get"
                    },
                    "503": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimento_503"
                                }
                            }
                        },
                        "description": "Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento."
                    },
                    "504": {
                        "$ref": "#/components/responses/504_get"
                    }
                },
                "parameters": [
                    {
                        "in": "query",
                        "name": "inicio",
                        "required": true,
                        "description": "Data inicial. Respeita RFC 3339.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "fim",
                        "required": true,
                        "description": "Data de fim. Respeita RFC 3339.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "cpf",
                        "required": false,
                        "description": "CPF do pagador cadastrado na cobrança.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "cnpj",
                        "required": false,
                        "description": "CNPJ do pagador cadastrado na cobrança.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "locationPresente",
                        "required": false,
                        "description": "Indicador se localização está presente.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "in": "query",
                        "name": "status",
                        "required": false,
                        "description": "Filtro pelo Status da cobrança. Pode ser ATIVA, CONCLUIDA, REMOVIDA_PELO_PSP OU REMOVIDA_PELO_USUARIO_RECEBEDOR",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ATIVA",
                                "CONCLUIDA",
                                "REMOVIDA_PELO_USUARIO_RECEBEDOR",
                                "REMOVIDA_PELO_PSP"
                            ]
                        }
                    },
                    {
                        "in": "query",
                        "name": "paginacao.paginaAtual",
                        "required": false,
                        "description": "Numero da Página que deseja realizar o acesso, valor considerado por default 0.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "paginacao.itensPorPagina",
                        "required": false,
                        "description": "Quantidade de ocorrência retornadas por pagina, valor por default 100.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "header",
                        "name": "x-correlationID",
                        "required": false,
                        "description": "Identificador de correlação que serve como um agrupar dentro da estrutura de audit trail",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [
                    {
                        "APIGatewaySTSAuthorizer": []
                    }
                ]
            }
        },
        "/cob/{txid}/qrcode": {
            "get": {
                "tags": [
                    "QR Code imediato (COB)"
                ],
                "operationId": "get/cob/{txid}/qrcode",
                "description": "API descontinuada. Para verificar dados de um qrcode, por favor utilizar a API **GET /cob/{txid}**.",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/qrcode"
                                }
                            }
                        },
                        "description": "OK",
                        "headers": {
                            "Content-Location": {
                                "description": "URI correspondente a pesquisa corrente",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "204": {
                        "$ref": "#/components/responses/204_get"
                    },
                    "303": {
                        "$ref": "#/components/responses/303_get"
                    },
                    "400": {
                        "$ref": "#/components/responses/400_get"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_get"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_get"
                    },
                    "404": {
                        "$ref": "#/components/responses/404_get"
                    },
                    "405": {
                        "$ref": "#/components/responses/405_get"
                    },
                    "422": {
                        "$ref": "#/components/responses/422_get"
                    },
                    "428": {
                        "$ref": "#/components/responses/428_get"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_get"
                    },
                    "501": {
                        "$ref": "#/components/responses/501_get"
                    },
                    "503": {
                        "$ref": "#/components/responses/503_get"
                    },
                    "504": {
                        "$ref": "#/components/responses/504_get"
                    }
                },
                "parameters": [
                    {
                        "in": "path",
                        "name": "txid",
                        "required": true,
                        "description": "Txid a ser consultado.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "header",
                        "name": "x-correlationID",
                        "required": false,
                        "description": "Identificador de correlação que serve como um agrupar dentro da estrutura de audit trail",
                        "schema": {
                            "type": "string"
                        }
                    }
                ]
            }
        },
        "/cobv/{txid}": {
            "put": {
                "tags": [
                    "QR Code com vencimento (COBV)"
                ],
                "operationId": "put/cobv/{txid}",
                "description": "API para emitir um QR Code com vencimento.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/x-itau-apikey"
                    },
                    {
                        "$ref": "#/components/parameters/x-itau-correlationID"
                    },
                    {
                        "$ref": "#/components/parameters/txid"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/cobrancaVencimentoPutRequest"
                            },
                            "examples": {
                                "emissão de cobranca com vencimento com campos mínimos obrigatórios": {
                                    "$ref": "#/components/examples/request_put_cobranca_vencimento_campos_obrigatorios"
                                },
                                "emissão de cobranca com vencimento com todos os campos": {
                                    "$ref": "#/components/examples/request_put_cobranca_vencimento_completo"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimentoPutResponse"
                                },
                                "examples": {
                                    "cobrança com vencimento emitida com sucesso": {
                                        "$ref": "#/components/examples/201_cobranca_vencimento_txid"
                                    }
                                }
                            }
                        },
                        "description": "Cobrança com vencimento criada."
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimento_400"
                                }
                            }
                        },
                        "description": "Requisição com formato inválido."
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimento_403"
                                }
                            }
                        },
                        "description": "Requisição de participante autenticado que viola alguma regra de autorização."
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimento_404"
                                }
                            }
                        },
                        "description": "Recurso solicitado não foi encontrado."
                    },
                    "503": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimento_503"
                                }
                            }
                        },
                        "description": "Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento."
                    }
                },
                "security": [
                    {
                        "APIGatewaySTSAuthorizer": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "QR Code com vencimento (COBV)"
                ],
                "operationId": "patch/cobv/{txid}",
                "description": "API para alterar ou cancelar um QR Code com vencimento.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/x-itau-apikey"
                    },
                    {
                        "$ref": "#/components/parameters/x-itau-correlationID"
                    },
                    {
                        "$ref": "#/components/parameters/txid"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/cobrancaVencimentoPatchRequest"
                            },
                            "examples": {
                                "alteração de cobrança com vencimento com todos os campos": {
                                    "$ref": "#/components/examples/request_patch_cobranca_vencimento_completo"
                                },
                                "alteração de informações adicionais": {
                                    "$ref": "#/components/examples/request_patch_cobranca_vencimento_informacoes_adicionais"
                                },
                                "alteração de valor original": {
                                    "$ref": "#/components/examples/request_patch_cobranca_vencimento_valor_original"
                                },
                                "alteração de multa": {
                                    "$ref": "#/components/examples/request_patch_cobranca_vencimento_valor_multa"
                                },
                                "alteração de juros": {
                                    "$ref": "#/components/examples/request_patch_cobranca_vencimento_valor_juros"
                                },
                                "alteração de abatimento": {
                                    "$ref": "#/components/examples/request_patch_cobranca_vencimento_valor_abatimento"
                                },
                                "alteração de desconto": {
                                    "$ref": "#/components/examples/request_patch_cobranca_vencimento_valor_desconto"
                                },
                                "alteração de data de vencimento": {
                                    "$ref": "#/components/examples/request_patch_cobranca_vencimento_calendario_data_de_vencimento"
                                },
                                "alteração de validade após vencimento": {
                                    "$ref": "#/components/examples/request_patch_cobranca_vencimento_calendario_validade_apos_vencimento"
                                },
                                "alteração de devedor": {
                                    "$ref": "#/components/examples/request_patch_cobranca_vencimento_devedor"
                                },
                                "alteração de identificador de location": {
                                    "$ref": "#/components/examples/request_patch_cobranca_vencimento_loc_id"
                                },
                                "alteração de chave pix": {
                                    "$ref": "#/components/examples/request_patch_cobranca_vencimento_chave"
                                },
                                "alteração de solicitação pagador": {
                                    "$ref": "#/components/examples/request_patch_cobranca_vencimento_solicitacao_pagador"
                                },
                                "cancelamento da cobrança": {
                                    "$ref": "#/components/examples/request_patch_cobranca_vencimento_status"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimentoPatchResponse"
                                },
                                "examples": {
                                    "cobrança com vencimento alterada com sucesso": {
                                        "$ref": "#/components/examples/201_cobranca_vencimento_txid"
                                    }
                                }
                            }
                        },
                        "description": "Cobrança com vencimento revisada. A revisão deve ser incrementada em 1."
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimento_400"
                                }
                            }
                        },
                        "description": "Requisição com formato inválido."
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimento_403"
                                }
                            }
                        },
                        "description": "Requisição de participante autenticado que viola alguma regra de autorização."
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimento_404"
                                }
                            }
                        },
                        "description": "Recurso solicitado não foi encontrado."
                    },
                    "503": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimento_503"
                                }
                            }
                        },
                        "description": "Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento."
                    }
                },
                "security": [
                    {
                        "APIGatewaySTSAuthorizer": []
                    }
                ]
            },
            "get": {
                "tags": [
                    "QR Code com vencimento (COBV)"
                ],
                "operationId": "get/cobv/{txid}",
                "description": "API para consultar um QR Code com vencimento específico através do identificador do QR Code (txid).",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimento"
                                },
                                "examples": {
                                    "Consulta de cobrança com vencimento ativa": {
                                        "$ref": "#/components/examples/200_cobranca_vencimento_ativa_by_txid"
                                    },
                                    "Consulta de cobrança com vencimento paga e devolvida": {
                                        "$ref": "#/components/examples/200_cobranca_vencimento_paga_e_devolvida_by_txid"
                                    },
                                    "Consulta de cobrança com vencimento removida": {
                                        "$ref": "#/components/examples/200_cobranca_vencimento_removida_by_txid"
                                    }
                                }
                            }
                        },
                        "description": "Dados da cobrança com vencimento.",
                        "headers": {
                            "Content-Location": {
                                "description": "URI correspondente a pesquisa corrente",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "204": {
                        "$ref": "#/components/responses/204_get"
                    },
                    "303": {
                        "$ref": "#/components/responses/303_get"
                    },
                    "400": {
                        "$ref": "#/components/responses/400_get"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_get"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimento_403"
                                }
                            }
                        },
                        "description": "Requisição de participante autenticado que viola alguma regra de autorização."
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimento_404"
                                }
                            }
                        },
                        "description": "Recurso solicitado não foi encontrado."
                    },
                    "405": {
                        "$ref": "#/components/responses/405_get"
                    },
                    "422": {
                        "$ref": "#/components/responses/422_get"
                    },
                    "428": {
                        "$ref": "#/components/responses/428_get"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_get"
                    },
                    "501": {
                        "$ref": "#/components/responses/501_get"
                    },
                    "503": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimento_503"
                                }
                            }
                        },
                        "description": "Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento."
                    },
                    "504": {
                        "$ref": "#/components/responses/504_get"
                    }
                },
                "parameters": [
                    {
                        "in": "path",
                        "name": "txid",
                        "required": true,
                        "description": "Txid a ser consultado.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "revisao",
                        "required": false,
                        "description": "Revisão do documento, utilizado para a sua identificação no banco central",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [
                    {
                        "APIGatewaySTSAuthorizer": []
                    }
                ]
            }
        },
        "/cobv": {
            "get": {
                "tags": [
                    "QR Code com vencimento (COBV)"
                ],
                "operationId": "get/cobv",
                "description": "API para consultar uma listagem de QR Codes com vencimento.",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancasVencimento"
                                },
                                "examples": {
                                    "Consulta de cobranças com vencimento": {
                                        "$ref": "#/components/examples/200_cobranca_vencimento_list"
                                    }
                                }
                            }
                        },
                        "description": "Lista de cobranças com vencimento.",
                        "headers": {
                            "Content-Location": {
                                "description": "URI correspondente a pesquisa corrente",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "204": {
                        "$ref": "#/components/responses/204_get"
                    },
                    "303": {
                        "$ref": "#/components/responses/303_get"
                    },
                    "400": {
                        "$ref": "#/components/responses/400_get"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_get"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimento_403"
                                }
                            }
                        },
                        "description": "Requisição de participante autenticado que viola alguma regra de autorização."
                    },
                    "404": {
                        "$ref": "#/components/responses/404_get"
                    },
                    "405": {
                        "$ref": "#/components/responses/405_get"
                    },
                    "422": {
                        "$ref": "#/components/responses/422_get"
                    },
                    "428": {
                        "$ref": "#/components/responses/428_get"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_get"
                    },
                    "501": {
                        "$ref": "#/components/responses/501_get"
                    },
                    "503": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimento_503"
                                }
                            }
                        },
                        "description": "Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento."
                    },
                    "504": {
                        "$ref": "#/components/responses/504_get"
                    }
                },
                "parameters": [
                    {
                        "in": "query",
                        "name": "inicio",
                        "required": true,
                        "description": "Data inicial. Respeita RFC 3339.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "fim",
                        "required": true,
                        "description": "Data de fim. Respeita RFC 3339.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "cpf",
                        "required": false,
                        "description": "CPF do devedor cadastrado na cobrança.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "cnpj",
                        "required": false,
                        "description": "CNPJ do devedor cadastrado na cobrança.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "locationPresente",
                        "required": false,
                        "description": "Indicador se localização está presente.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "in": "query",
                        "name": "status",
                        "required": false,
                        "description": "Filtro pelo Status da cobrança. Pode ser ATIVA, CONCLUIDA, REMOVIDA_PELO_PSP OU REMOVIDA_PELO_USUARIO_RECEBEDOR",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ATIVA",
                                "CONCLUIDA",
                                "REMOVIDA_PELO_USUARIO_RECEBEDOR",
                                "REMOVIDA_PELO_PSP"
                            ]
                        }
                    },
                    {
                        "in": "query",
                        "name": "loteCobVId",
                        "required": false,
                        "description": "Id do lote de cobrança com vencimento.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "paginacao.paginaAtual",
                        "required": false,
                        "description": "Numero da Página que deseja realizar o acesso, valor considerado por default 0.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "paginacao.itensPorPagina",
                        "required": false,
                        "description": "Quantidade de ocorrência retornadas por pagina, valor por default 100.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "header",
                        "name": "x-correlationID",
                        "required": false,
                        "description": "Identificador de correlação que serve como um agrupar dentro da estrutura de audit trail",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [
                    {
                        "APIGatewaySTSAuthorizer": []
                    }
                ]
            }
        },
        "/cobv/{txid}/qrcode": {
            "get": {
                "tags": [
                    "QR Code com vencimento (COBV)"
                ],
                "operationId": "get/cobv/{txid}/qrcode",
                "description": "API descontinuada. Para verificar dados de um qrcode, por favor utilizar a API **GET /cobv/{txid}**.",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/qrcode"
                                }
                            }
                        },
                        "description": "OK",
                        "headers": {
                            "Content-Location": {
                                "description": "URI correspondente a pesquisa corrente",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "204": {
                        "$ref": "#/components/responses/204_get"
                    },
                    "303": {
                        "$ref": "#/components/responses/303_get"
                    },
                    "400": {
                        "$ref": "#/components/responses/400_get"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_get"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_get"
                    },
                    "404": {
                        "$ref": "#/components/responses/404_get"
                    },
                    "405": {
                        "$ref": "#/components/responses/405_get"
                    },
                    "422": {
                        "$ref": "#/components/responses/422_get"
                    },
                    "428": {
                        "$ref": "#/components/responses/428_get"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_get"
                    },
                    "501": {
                        "$ref": "#/components/responses/501_get"
                    },
                    "503": {
                        "$ref": "#/components/responses/503_get"
                    },
                    "504": {
                        "$ref": "#/components/responses/504_get"
                    }
                },
                "parameters": [
                    {
                        "in": "path",
                        "name": "txid",
                        "required": true,
                        "description": "Txid a ser consultado.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "header",
                        "name": "x-correlationID",
                        "required": false,
                        "description": "Identificador de correlação que serve como um agrupar dentro da estrutura de audit trail",
                        "schema": {
                            "type": "string"
                        }
                    }
                ]
            }
        },
        "/lotecobv/{id}": {
            "put": {
                "tags": [
                    "Lote de QR Codes com vencimento (COBV)"
                ],
                "operationId": "put/lotecobv/{id}",
                "description": "API para emitir ou alterar um lote de QR Codes com vencimento.\n\nPara o caso de uso de alteração de QR Code, o array a ser atribuído na requisição e deve ser composto pelas exatas requisições de criação de QR Code com vencimento que constaram no array atribuído na requisição originária.\n\nNão se pode utilizar esta API para alterar um lote de QR Code com vencimento agregando ou removendo um QR Code já existente dentro do conjunto de QR Codes criados na requisição originária do lote.\n\nEm outras palavras, se originalmente criou-se um lote, por exemplo, com QR Codes [`a`, `b` e `c`], não se pode alterar esse conjunto de QR Codes originais que o lote representa para [`a`, `b`, `c`, `d`], ou para [`a`, `b`]. Por outro lado, pode-se alterar, em lote os QR Codes [`a`, `b`, `c`], conforme originalmente constam na requisição originária do lote.\n\nUma solicitação de criação de QR Code com status \"EM_PROCESSAMENTO\" ou \"NEGADA\" está associada a um QR Code não existe de fato, portanto não será listada em `GET /cobv` ou `GET /cobv/{txid}`.\n\nUm QR Code, uma vez criado via `PUT /cobv/{txid}`, não pode ser associada a um lote posteriormente.\n\nUm QR Code, uma vez criada via `PUT /lotecobv/{id}`, não pode ser associada a um novo lote posteriormente.\n",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/x-itau-apikey"
                    },
                    {
                        "$ref": "#/components/parameters/x-itau-correlationID"
                    },
                    {
                        "$ref": "#/components/parameters/id-lotecobv"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/loteCobrancaVencimentoPutRequest"
                            },
                            "examples": {
                                "emissão de lotes de cobrancas com campos mínimos obrigatórios": {
                                    "$ref": "#/components/examples/request_put_lotecobv_campos_obrigatorios"
                                },
                                "emissão de lotes de cobrancas com vencimento com todos os campos": {
                                    "$ref": "#/components/examples/request_put_lotecobv_completo"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "lote de cobrança com vencimento emitido com sucesso": {
                                        "$ref": "#/components/examples/202_lotecobv_put"
                                    }
                                }
                            }
                        },
                        "description": "Lote de cobranças com vencimento solicitado para criação."
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/lotecobv_400"
                                }
                            }
                        },
                        "description": "Requisição com formato inválido."
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/lotecobv_403"
                                }
                            }
                        },
                        "description": "Requisição de participante autenticado que viola alguma regra de autorização."
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/lotecobv_404"
                                }
                            }
                        },
                        "description": "Recurso solicitado não foi encontrado."
                    },
                    "503": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/lotecobv_503"
                                }
                            }
                        },
                        "description": "Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento."
                    }
                },
                "security": [
                    {
                        "APIGatewaySTSAuthorizer": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Lote de QR Codes com vencimento (COBV)"
                ],
                "operationId": "patch/lotecobv/{id}",
                "description": "API para revisar um QR Code com vencimento específico dentro de um lote de QR Codes com vencimento.\n\nA diferença desta API para a API PUT correlato é que esta API admite um array `cobsv` com menos solicitações de criação ou alteração de QR Code do que o array atribuído na requisição originária do lote.\n\nNão se pode, entretanto, utilizar essa API  para agregar ou remover solicitações de alteração ou criação de QR Codes conforme constam na requisição originária do lote.\n",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/x-itau-apikey"
                    },
                    {
                        "$ref": "#/components/parameters/x-itau-correlationID"
                    },
                    {
                        "$ref": "#/components/parameters/id-lotecobv"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/loteCobrancaVencimentoPatchRequest"
                            },
                            "examples": {
                                "alteração de lotes de cobrancas com vencimento com todos os campos": {
                                    "$ref": "#/components/examples/request_patch_lotecobv_completo"
                                },
                                "alteração de descrição do lote": {
                                    "$ref": "#/components/examples/request_patch_lotecobv_descricao"
                                },
                                "alteração de data de vencimento de cada cobrança com vencimento": {
                                    "$ref": "#/components/examples/request_patch_lotecobv_calendario_data_de_vencimento"
                                },
                                "alteração de validade após vencimento de cada cobrança com vencimento": {
                                    "$ref": "#/components/examples/request_patch_lotecobv_calendario_validade_apos_vencimento"
                                },
                                "alteração de devedor de cada cobrança com vencimento": {
                                    "$ref": "#/components/examples/request_patch_lotecobv_devedor"
                                },
                                "alteração de identificador de location de cada cobrança com vencimento": {
                                    "$ref": "#/components/examples/request_patch_lotecobv_loc_id"
                                },
                                "alteração de valor original cada cobrança com vencimento": {
                                    "$ref": "#/components/examples/request_patch_lotecobv_valor_original"
                                },
                                "alteração de multa de cada cobrança com vencimento": {
                                    "$ref": "#/components/examples/request_patch_lotecobv_valor_multa"
                                },
                                "alteração de juros de cada cobrança com vencimento": {
                                    "$ref": "#/components/examples/request_patch_lotecobv_valor_juros"
                                },
                                "alteração de abatimento de cada cobrança com vencimento": {
                                    "$ref": "#/components/examples/request_patch_lotecobv_valor_abatimento"
                                },
                                "alteração de desconto de cada cobrança com vencimento": {
                                    "$ref": "#/components/examples/request_patch_lotecobv_valor_desconto"
                                },
                                "alteração de chave de cada cobrança com vencimento": {
                                    "$ref": "#/components/examples/request_patch_lotecobv_chave"
                                },
                                "alteração de solicitação pagador de cada cobrança com vencimento": {
                                    "$ref": "#/components/examples/request_patch_lotecobv_solicitacao_pagador"
                                },
                                "alteração de informações adicionais de cada cobrança com vencimento": {
                                    "$ref": "#/components/examples/request_patch_lotecobv_informacoes_adicionais"
                                },
                                "cancelamento de cada cobrança com vencimento": {
                                    "$ref": "#/components/examples/request_patch_lotecobv_status"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "lote de cobrança com vencimento revisado com sucesso": {
                                        "$ref": "#/components/examples/202_lotecobv_patch"
                                    }
                                }
                            }
                        },
                        "description": "Lote de cobranças com vencimento revisado com sucesso."
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/lotecobv_400"
                                }
                            }
                        },
                        "description": "Requisição com formato inválido."
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/lotecobv_403"
                                }
                            }
                        },
                        "description": "Requisição de participante autenticado que viola alguma regra de autorização."
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/lotecobv_404"
                                }
                            }
                        },
                        "description": "Recurso solicitado não foi encontrado."
                    },
                    "503": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/lotecobv_503"
                                }
                            }
                        },
                        "description": "Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento."
                    }
                },
                "security": [
                    {
                        "APIGatewaySTSAuthorizer": []
                    }
                ]
            },
            "get": {
                "tags": [
                    "Lote de QR Codes com vencimento (COBV)"
                ],
                "operationId": "get/lotecobv/{id}",
                "description": "API para consultar um lote de QR Codes com vencimento.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/x-itau-apikey"
                    },
                    {
                        "$ref": "#/components/parameters/x-itau-correlationID"
                    },
                    {
                        "$ref": "#/components/parameters/id-lotecobv"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/loteCobrancaVencimentoIdGetResponse"
                                },
                                "examples": {
                                    "lote de cobranças com vencimento consultado": {
                                        "$ref": "#/components/examples/200_lotecobv_get_id"
                                    }
                                }
                            }
                        },
                        "description": "Consultar lote de cobranças com vencimento."
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/lotecobv_403"
                                }
                            }
                        },
                        "description": "Requisição de participante autenticado que viola alguma regra de autorização."
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/lotecobv_404"
                                }
                            }
                        },
                        "description": "Recurso solicitado não foi encontrado."
                    },
                    "503": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/lotecobv_503"
                                }
                            }
                        },
                        "description": "Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento."
                    }
                },
                "security": [
                    {
                        "APIGatewaySTSAuthorizer": []
                    }
                ]
            }
        },
        "/lotecobv": {
            "get": {
                "tags": [
                    "Lote de QR Codes com vencimento (COBV)"
                ],
                "operationId": "get/lotecobv",
                "description": "API para consultar uma listagem de lotes de QR Codes com vencimento.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/x-itau-apikey"
                    },
                    {
                        "$ref": "#/components/parameters/x-itau-correlationID"
                    },
                    {
                        "$ref": "#/components/parameters/inicio"
                    },
                    {
                        "$ref": "#/components/parameters/fim"
                    },
                    {
                        "$ref": "#/components/parameters/paginaAtual"
                    },
                    {
                        "$ref": "#/components/parameters/itensPorPagina"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/loteCobrancaVencimentoGetResponse"
                                },
                                "examples": {
                                    "lotes de cobranças com vencimento consultados": {
                                        "$ref": "#/components/examples/200_lotecobv_get"
                                    }
                                }
                            }
                        },
                        "description": "Lotes de cobranças com vencimento."
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimento_403"
                                }
                            }
                        },
                        "description": "Requisição de participante autenticado que viola alguma regra de autorização."
                    },
                    "503": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimento_503"
                                }
                            }
                        },
                        "description": "Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento."
                    }
                },
                "security": [
                    {
                        "APIGatewaySTSAuthorizer": []
                    }
                ]
            }
        },
        "/loc": {
            "post": {
                "tags": [
                    "Location"
                ],
                "operationId": "post/loc",
                "description": "API para criar uma location.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/x-itau-apikey"
                    },
                    {
                        "$ref": "#/components/parameters/x-itau-correlationID"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/locationPostRequest"
                            },
                            "examples": {
                                "emissão de location de cobrança imediata": {
                                    "$ref": "#/components/examples/request_post_loc_cob"
                                },
                                "emissão de location de cobrança com vencimento": {
                                    "$ref": "#/components/examples/request_post_loc_cobv"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/locationPostResponse"
                                },
                                "examples": {
                                    "location de cobrança imediata emitida com sucesso": {
                                        "$ref": "#/components/examples/200_loc_cob"
                                    },
                                    "location de cobrança com vencimento emitida com sucesso": {
                                        "$ref": "#/components/examples/200_loc_cobv"
                                    }
                                }
                            }
                        },
                        "description": "Location criada com sucesso."
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/location_400"
                                }
                            }
                        },
                        "description": "Requisição com formato inválido."
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/location_403"
                                }
                            }
                        },
                        "description": "Requisição de participante autenticado que viola alguma regra de autorização."
                    },
                    "503": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/location_503"
                                }
                            }
                        },
                        "description": "Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento."
                    }
                },
                "security": [
                    {
                        "APIGatewaySTSAuthorizer": []
                    }
                ]
            },
            "get": {
                "tags": [
                    "Location"
                ],
                "operationId": "get/loc",
                "description": "API para consultar uma listagem de locations cadastradas.",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/locs"
                                },
                                "examples": {
                                    "200_Locs": {
                                        "$ref": "#/components/examples/200_locs"
                                    }
                                }
                            }
                        },
                        "description": "OK",
                        "headers": {
                            "Content-Location": {
                                "description": "URI correspondente a pesquisa corrente",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "204": {
                        "$ref": "#/components/responses/204_get"
                    },
                    "303": {
                        "$ref": "#/components/responses/303_get"
                    },
                    "400": {
                        "$ref": "#/components/responses/400_get"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_get"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimento_403"
                                }
                            }
                        },
                        "description": "Requisição de participante autenticado que viola alguma regra de autorização."
                    },
                    "404": {
                        "$ref": "#/components/responses/404_get"
                    },
                    "405": {
                        "$ref": "#/components/responses/405_get"
                    },
                    "422": {
                        "$ref": "#/components/responses/422_get"
                    },
                    "428": {
                        "$ref": "#/components/responses/428_get"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_get"
                    },
                    "501": {
                        "$ref": "#/components/responses/501_get"
                    },
                    "503": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimento_503"
                                }
                            }
                        },
                        "description": "Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento."
                    },
                    "504": {
                        "$ref": "#/components/responses/504_get"
                    }
                },
                "parameters": [
                    {
                        "in": "query",
                        "name": "inicio",
                        "required": true,
                        "description": "Data inicial. Respeita RFC 3339.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "fim",
                        "required": true,
                        "description": "Data de fim. Respeita RFC 3339.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "txIdPresente",
                        "required": false,
                        "description": "Filtro pela existência de txid.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "in": "query",
                        "name": "tipoCob",
                        "required": false,
                        "description": "Define se o tipo do documento é imediata ou vencimento\n<table><tr><td>ENUM</td></tr><tr><td>cob</td></tr><tr><td>cobv</td></tr></table>\n",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "cob",
                                "cobv"
                            ]
                        }
                    },
                    {
                        "in": "query",
                        "name": "paginacao.paginaAtual",
                        "required": false,
                        "description": "Numero da Página que deseja realizar o acesso, valor considerado por default 0.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "paginacao.itensPorPagina",
                        "required": false,
                        "description": "Quantidade de ocorrência retornadas por pagina, valor por default 100.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "header",
                        "name": "x-correlationID",
                        "required": false,
                        "description": "Identificador de correlação que serve como um agrupar dentro da estrutura de audit trail",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [
                    {
                        "APIGatewaySTSAuthorizer": []
                    }
                ]
            }
        },
        "/loc/{id}": {
            "get": {
                "tags": [
                    "Location"
                ],
                "operationId": "get/loc/{id}",
                "description": "API para consultar uma location específica através do identificador da location.",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/locationIdGetResponse"
                                },
                                "examples": {
                                    "200_loc_get_id": {
                                        "$ref": "#/components/examples/200_loc_get_id"
                                    }
                                }
                            }
                        },
                        "description": "OK",
                        "headers": {
                            "Content-Location": {
                                "description": "URI correspondente a pesquisa corrente",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "204": {
                        "$ref": "#/components/responses/204_get"
                    },
                    "303": {
                        "$ref": "#/components/responses/303_get"
                    },
                    "400": {
                        "$ref": "#/components/responses/400_get"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_get"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimento_403"
                                }
                            }
                        },
                        "description": "Requisição de participante autenticado que viola alguma regra de autorização."
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimento_404"
                                }
                            }
                        },
                        "description": "Recurso solicitado não foi encontrado."
                    },
                    "405": {
                        "$ref": "#/components/responses/405_get"
                    },
                    "422": {
                        "$ref": "#/components/responses/422_get"
                    },
                    "428": {
                        "$ref": "#/components/responses/428_get"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_get"
                    },
                    "501": {
                        "$ref": "#/components/responses/501_get"
                    },
                    "503": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimento_503"
                                }
                            }
                        },
                        "description": "Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento."
                    },
                    "504": {
                        "$ref": "#/components/responses/504_get"
                    }
                },
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "description": "id da devolução",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [
                    {
                        "APIGatewaySTSAuthorizer": []
                    }
                ]
            }
        },
        "/loc/{id}/txid": {
            "delete": {
                "tags": [
                    "Location"
                ],
                "operationId": "delete/loc/{id}/txid",
                "description": "API para desvincular um QR Code de uma location.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/x-itau-apikey"
                    },
                    {
                        "$ref": "#/components/parameters/x-itau-correlationID"
                    },
                    {
                        "$ref": "#/components/parameters/id-loc"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/locationPostResponse"
                                },
                                "examples": {
                                    "location de cobrança imediata emitida com sucesso": {
                                        "$ref": "#/components/examples/200_loc_cob"
                                    },
                                    "location de cobrança com vencimento emitida com sucesso": {
                                        "$ref": "#/components/examples/200_loc_cobv"
                                    }
                                }
                            }
                        },
                        "description": "QR Code desvinculado da location com sucesso."
                    },
                    "403": {
                        "content": {
                            "application/json": {
[...]
