{
    "openapi": "3.0.0",
    "info": {
        "title": "API Boletos (v3)",
        "description": "Api do produto de recebimentos Boletos de Cash Management (Francesa, Boletos e Notificações boleto)",
        "version": "1.33.0"
    },
    "servers": [
        {
            "url": "https://boletos.cloud.itau.com.br/boletos/v3"
        }
    ],
    "paths": {
        "/francesas": {
            "get": {
                "$ref": "./methods/get_francesas.json"
            }
        },
        "/francesas/{id_francesa}/movimentacoes": {
            "get": {
                "$ref": "./methods/get_francesa_movimentacoes.json"
            }
        },
        "/francesas/{id_francesa}/movimentacoes_resumidas": {
            "get": {
                "$ref": "./methods/get_francesa_movimentacoes_resumidas.json"
            }
        },
        "/boletos": {
            "get": {
                "$ref": "./methods/get_boletos.json"
            }
        },
        "/notificacoes_boletos": {
            "post": {
                "$ref": "./methods/post_notificacao_boletos.json"
            },
            "get": {
                "$ref": "./methods/get_notificacoes_boleto.json"
            }
        },
        "/notificacoes_boletos/{id_notificacao_boleto}": {
            "delete": {
                "$ref": "./methods/delete_notificacao_boleto.json"
            },
            "patch": {
                "$ref": "./methods/patch_notificacao_boleto.json"
            }
        }
    },
    "components": {
        "parameters": {
            "$ref": "./components/parameters.json"
        },
        "examples": {
            "$ref": "./components/examples.json"
        },
        "responses": {
            "$ref": "./components/responses.json"
        },
        "schemas": {
            "$ref": "./components/schemas.json"
        },
        "securitySchemes": {
            "$ref": "./components/securitySchemes.json"
        }
    }
}