{
    "openapi": "3.0.0",
    "info": {
        "title": "itau-ep9-gtw-pix-recebimentos-conciliacoes-v2-ext",
        "version": "2.145.22",
        "description": "APis Pix Recebimentos Complementares para Clientes e Participantes Indiretos V2.\n"
    },
    "servers": [
        {
            "url": "https://secure.api.itau/pix_recebimentos_conciliacoes/v2"
        }
    ],
    "security": [
        {
            "oauth2": []
        }
    ],
    "paths": {
        "/decodificacoes_qrcode": {
            "post": {
                "tags": [
                    "Consultas (Clientes e Indiretos)"
                ],
                "operationId": "post/decodificacoes_qrcode",
                "description": "Operação responsável por recuperar os dados do QR Code escaneado através dos dados EMV.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/x-itau-apikey"
                    },
                    {
                        "$ref": "#/components/parameters/x-itau-correlationID"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/decodificacaoQrcodeEntrada"
                            },
                            "examples": {
                                "decodificação de qrcode com campos mínimos obrigatórios": {
                                    "$ref": "#/components/examples/request_post_decodificacao_qrcode_campos_obrigatorios"
                                },
                                "decodificação de qrcode com todos os campos": {
                                    "$ref": "#/components/examples/request_post_decodificacao_qrcode_completo"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/decodificacaoQrcodeSaida"
                                },
                                "examples": {
                                    "qrcode decodificado com sucesso": {
                                        "$ref": "#/components/examples/response_post_decodificacao_qrcode"
                                    }
                                }
                            }
                        },
                        "description": "QR Code decodificado."
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/decodificacaoQrcode_400"
                                }
                            }
                        },
                        "description": "Requisição com formato inválido."
                    },
                    "422": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/decodificacaoQrcode_422"
                                }
                            }
                        },
                        "description": "Erro de negócio."
                    }
                }
            }
        },
        "/leituras_qrcodes_pix": {
            "post": {
                "tags": [
                    "Consultas (Clientes e Indiretos)"
                ],
                "operationId": "post/leituras_qrcodes_pix",
                "description": "Operação responsável por recuperar os dados do QR Code escaneado através dos dados EMV.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/x-itau-apikey"
                    },
                    {
                        "$ref": "#/components/parameters/x-itau-correlationID"
                    },
                    {
                        "$ref": "#/components/parameters/estatisticas",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/leiturasQrcodesPixEntrada"
                            },
                            "examples": {
                                "decodificação de qrcode estático ou imediato": {
                                    "$ref": "#/components/examples/request_post_leituras_qrcodes_pix_cob_estatico"
                                },
                                "decodificação de qrcode com vencimento": {
                                    "$ref": "#/components/examples/request_post_leituras_qrcodes_pix_cobv"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/leiturasQrcodesPixSaida"
                                },
                                "examples": {
                                    "cobrança imediata decodificado com sucesso": {
                                        "$ref": "#/components/examples/200_leituras_qrcodes_pix_dinamico_cob"
                                    },
                                    "cobrança com saque pix decodificado com sucesso": {
                                        "$ref": "#/components/examples/200_leituras_qrcodes_pix_dinamico_cob_com_saque"
                                    },
                                    "cobrança com troco pix decodificado com sucesso": {
                                        "$ref": "#/components/examples/200_leituras_qrcodes_pix_dinamico_cob_com_troco"
                                    },
                                    "cobrança sem registros de dados analiticos fraude decodificado com sucesso": {
                                        "$ref": "#/components/examples/200_leituras_qrcodes_pix_dinamico_dados_analiticos_fraude_vazio"
                                    },
                                    "cobrança com vencimento decodificado com sucesso": {
                                        "$ref": "#/components/examples/200_leituras_qrcodes_pix_dinamico_cobv"
                                    },
                                    "cobrança estática decodificado com sucesso": {
                                        "$ref": "#/components/examples/200_leituras_qrcodes_pix_estatico"
                                    },
                                    "cobrança estática com saque pix decodificado com sucesso": {
                                        "$ref": "#/components/examples/200_leituras_qrcodes_pix_estatico_com_saque"
                                    }
                                }
                            }
                        },
                        "description": "QR Code decodificado."
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/leiturasQrcode_400"
                                }
                            }
                        },
                        "description": "Requisição com formato inválido."
                    },
                    "422": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/leiturasQrcode_422"
                                }
                            }
                        },
                        "description": "Erro de negócio."
                    }
                }
            }
        },
        "/cobrancas_imediata_pix": {
            "post": {
                "tags": [
                    "Cobrança Imediata (Indireto)"
                ],
                "operationId": "post/cobrancas_imediata_pix",
                "description": "Operação responsável por emitir um novo QR Code imediato.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/x-itau-apikey"
                    },
                    {
                        "$ref": "#/components/parameters/x-itau-correlationID"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/cobrancaImediataPixEntrada"
                            },
                            "examples": {
                                "emissão de cobrança imediata com campos mínimos obrigatorios": {
                                    "$ref": "#/components/examples/request_post_cobrancas_imediata_campos_obrigatorios"
                                },
                                "emissão de cobrança imediata com todos os campos": {
                                    "$ref": "#/components/examples/request_post_cobrancas_imediata_completo"
                                },
                                "emissão de saque pix com campos mínimos obrigatorios": {
                                    "$ref": "#/components/examples/request_post_cobrancas_imediata_saque_campos_obrigatorios"
                                },
                                "emissão de saque pix com todos os campos": {
                                    "$ref": "#/components/examples/request_post_cobrancas_imediata_saque_completo"
                                },
                                "emissão de troco pix campos mínimos obrigatorios": {
                                    "$ref": "#/components/examples/request_post_cobrancas_imediata_troco_campos_obrigatorios"
                                },
                                "emissão de troco pix com todos os campos": {
                                    "$ref": "#/components/examples/request_post_cobrancas_imediata_troco_completo"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaImediataPixSaida"
                                },
                                "examples": {
                                    "cobrança imediata emitida com sucesso": {
                                        "$ref": "#/components/examples/response_post_cobranca_imediata"
                                    },
                                    "cobrança com saque pix emitida com sucesso": {
                                        "$ref": "#/components/examples/response_post_cobranca_imediata_saque"
                                    },
                                    "cobrança com troco pix emitida com sucesso": {
                                        "$ref": "#/components/examples/response_post_cobranca_imediata_troco"
                                    }
                                }
                            }
                        },
                        "description": "QR Code imediato criado."
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaImediata_400"
                                }
                            }
                        },
                        "description": "Requisição com formato inválido."
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaImediata_403"
                                }
                            }
                        },
                        "description": "Requisição de participante autenticado que viola alguma regra de autorização."
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaImediata_404"
                                }
                            }
                        },
                        "description": "Recurso solicitado não foi encontrado."
                    },
                    "503": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaImediata_503"
                                }
                            }
                        },
                        "description": "Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento."
                    }
                }
            }
        },
        "/cobrancas_imediata_pix/{id_cobranca_imediata_pix}": {
            "patch": {
                "tags": [
                    "Cobrança Imediata (Indireto)"
                ],
                "operationId": "patch/cobrancas_imediata_pix/{id_cobranca_imediata_pix}",
                "description": "Operação responsável por alterar um QR Code imediato.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/x-itau-apikey"
                    },
                    {
                        "$ref": "#/components/parameters/x-itau-correlationID"
                    },
                    {
                        "$ref": "#/components/parameters/id_cobranca_imediata_pix"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/cobrancaImediataAlteracaoEntrada"
                            },
                            "examples": {
                                "alteração de cobrança imediata com todos os campos": {
                                    "$ref": "#/components/examples/request_patch_cobrancas_imediata_completo"
                                },
                                "alteração de data de expiração": {
                                    "$ref": "#/components/examples/request_patch_cobrancas_imediata_calendario_expiracao"
                                },
                                "alteração de identificador de location": {
                                    "$ref": "#/components/examples/request_patch_cobrancas_imediata_loc_id"
                                },
                                "alteração de devedor": {
                                    "$ref": "#/components/examples/request_patch_cobrancas_imediata_devedor"
                                },
                                "alteração de valor original": {
                                    "$ref": "#/components/examples/request_patch_cobrancas_imediata_valor_original"
                                },
                                "alteração de modalidade de alteração": {
                                    "$ref": "#/components/examples/request_patch_cobrancas_imediata_valor_modalidade_alteracao"
                                },
                                "alteração de chave": {
                                    "$ref": "#/components/examples/request_patch_cobrancas_imediata_chave"
                                },
                                "alteração de pagador": {
                                    "$ref": "#/components/examples/request_patch_cobrancas_imediata_solicitacao_pagador"
                                },
                                "alteração de informações adicionais": {
                                    "$ref": "#/components/examples/request_patch_cobrancas_imediata_informacoes_adicionais"
                                },
                                "alteração de saque pix": {
                                    "$ref": "#/components/examples/request_patch_cobrancas_imediata_saque"
                                },
                                "alteração de troco pix": {
                                    "$ref": "#/components/examples/request_patch_cobrancas_imediata_troco"
                                },
                                "cancelamento da cobrança": {
                                    "$ref": "#/components/examples/request_patch_cobrancas_imediata_status"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaImediataAlteracaoSaida"
                                },
                                "examples": {
                                    "cobrança imediata alterada com sucesso": {
                                        "$ref": "#/components/examples/response_patch_cobranca_imediata"
                                    },
                                    "cobrança com saque pix alterada com sucesso": {
                                        "$ref": "#/components/examples/response_patch_cobranca_imediata_saque"
                                    },
                                    "cobrança com troco pix alterada com sucesso": {
                                        "$ref": "#/components/examples/response_patch_cobranca_imediata_troco"
                                    }
                                }
                            }
                        },
                        "description": "QR Code imediato revisado."
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaImediata_400"
                                }
                            }
                        },
                        "description": "Requisição com formato inválido."
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaImediata_403"
                                }
                            }
                        },
                        "description": "Requisição de participante autenticado que viola alguma regra de autorização."
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaImediata_404"
                                }
                            }
                        },
                        "description": "Recurso solicitado não foi encontrado."
                    },
                    "503": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaImediata_503"
                                }
                            }
                        },
                        "description": "Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento."
                    }
                }
            }
        },
        "/cobrancas_imediata_pix/{id_cobranca_imediata_pix}/qrcode": {
            "get": {
                "tags": [
                    "Cobrança Imediata (Indireto)"
                ],
                "operationId": "get/cobrancas_imediata_pix/{id_cobranca_imediata_pix}/qrcode",
                "description": "API descontinuada. Para verificar dados de um qrcode, por favor utilizar a API ...",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/consultaSaida"
                                }
                            }
                        },
                        "description": "OK",
                        "headers": {
                            "Content-Location": {
                                "description": "URI correspondente a pesquisa corrente",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400_get"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_get"
                    },
                    "404": {
                        "$ref": "#/components/responses/404_get"
                    },
                    "410": {
                        "$ref": "#/components/responses/410_get"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_get"
                    },
                    "503": {
                        "$ref": "#/components/responses/503_get"
                    },
                    "504": {
                        "$ref": "#/components/responses/504_get"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/components/parameters/x-itau-apikey"
                    },
                    {
                        "in": "path",
                        "name": "id_cobranca_imediata_pix",
                        "required": true,
                        "description": "Id a ser consultado.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "header",
                        "name": "x-correlationID",
                        "required": false,
                        "description": "Identificador de correlação que serve como um agrupar dentro da estrutura de audit trail",
                        "schema": {
                            "type": "string"
                        }
                    }
                ]
            }
        },
        "/cobrancas_vencimento_pix": {
            "post": {
                "tags": [
                    "Cobrança com vencimento (Indireto)"
                ],
                "operationId": "post/cobrancas_vencimento_pix",
                "description": "Operação responsável por emitir um novo QR Code com vencimento.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/x-itau-apikey"
                    },
                    {
                        "$ref": "#/components/parameters/x-itau-correlationID"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/cobrancaVencimentoPixEntrada"
                            },
                            "examples": {
                                "emissão de cobrança com vencimento com campos mínimos obrigatórios": {
                                    "$ref": "#/components/examples/request_post_cobrancas_vencimento_campos_obrigatorios"
                                },
                                "emissão de cobrança com vencimento com todos os campos": {
                                    "$ref": "#/components/examples/request_post_cobrancas_vencimento_completo"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimentoPixSaida"
                                },
                                "examples": {
                                    "cobrança com vencimento emitida com sucesso": {
                                        "$ref": "#/components/examples/response_post_cobranca_vencimento"
                                    }
                                }
                            }
                        },
                        "description": "QR Code com vencimento criado."
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimento_400"
                                }
                            }
                        },
                        "description": "Requisição com formato inválido."
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimento_403"
                                }
                            }
                        },
                        "description": "Requisição de participante autenticado que viola alguma regra de autorização."
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimento_404"
                                }
                            }
                        },
                        "description": "Recurso solicitado não foi encontrado."
                    },
                    "503": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimento_503"
                                }
                            }
                        },
                        "description": "Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento."
                    }
                }
            }
        },
        "/cobrancas_vencimento_pix/{id_cobranca_vencimento_pix}": {
            "patch": {
                "tags": [
                    "Cobrança com vencimento (Indireto)"
                ],
                "operationId": "patch/cobrancas_vencimento_pix/{id_cobranca_vencimento_pix}",
                "description": "Operação responsável por alterar um QR Code com vencimento.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/x-itau-apikey"
                    },
                    {
                        "$ref": "#/components/parameters/x-itau-correlationID"
                    },
                    {
                        "$ref": "#/components/parameters/id_cobranca_vencimento_pix"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/cobrancaVencimentoAlteracaoEntrada"
                            },
                            "examples": {
                                "alteração de cobrança com vencimento com todos os campos": {
                                    "$ref": "#/components/examples/request_patch_cobrancas_vencimento_completo"
                                },
                                "alteração de data de vencimento": {
                                    "$ref": "#/components/examples/request_patch_cobrancas_vencimento_calendario_data_de_vencimento"
                                },
                                "alteração de validade após vencimento": {
                                    "$ref": "#/components/examples/request_patch_cobrancas_vencimento_calendario_validade_apos_vencimento"
                                },
                                "alteração de devedor": {
                                    "$ref": "#/components/examples/request_patch_cobrancas_vencimento_devedor"
                                },
                                "alteração de recebedor": {
                                    "$ref": "#/components/examples/request_patch_cobrancas_vencimento_recebedor"
                                },
                                "alteração de valor original": {
                                    "$ref": "#/components/examples/request_patch_cobrancas_vencimento_valor_original"
                                },
                                "alteração de multa": {
                                    "$ref": "#/components/examples/request_patch_cobrancas_vencimento_valor_multa"
                                },
                                "alteração de juros": {
                                    "$ref": "#/components/examples/request_patch_cobrancas_vencimento_valor_juros"
                                },
                                "alteração de abatimento": {
                                    "$ref": "#/components/examples/request_patch_cobrancas_vencimento_valor_abatimento"
                                },
                                "alteração de desconto": {
                                    "$ref": "#/components/examples/request_patch_cobrancas_vencimento_valor_desconto"
                                },
                                "alteração de identificador de location": {
                                    "$ref": "#/components/examples/request_patch_cobrancas_vencimento_loc_id"
                                },
                                "alteração de chave pix": {
                                    "$ref": "#/components/examples/request_patch_cobrancas_vencimento_chave"
                                },
                                "alteração de solicitação do pagador": {
                                    "$ref": "#/components/examples/request_patch_cobrancas_vencimento_solicitacao_pagador"
                                },
                                "alteração de informações adicionais": {
                                    "$ref": "#/components/examples/request_patch_cobrancas_vencimento_informacoes_adicionais"
                                },
                                "cancelamento da cobrança": {
                                    "$ref": "#/components/examples/request_patch_cobrancas_vencimento_status"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimentoAlteracaoSaida"
                                },
                                "examples": {
                                    "cobrança com vencimento revisada com sucesso": {
                                        "$ref": "#/components/examples/response_patch_cobranca_vencimento"
                                    }
                                }
                            }
                        },
                        "description": "QR Code com vencimento revisado."
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimento_400"
                                }
                            }
                        },
                        "description": "Requisição com formato inválido."
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimento_403"
                                }
                            }
                        },
                        "description": "Requisição de participante autenticado que viola alguma regra de autorização."
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimento_404"
                                }
                            }
                        },
                        "description": "Recurso solicitado não foi encontrado."
                    },
                    "503": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaVencimento_503"
                                }
                            }
                        },
                        "description": "Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento."
                    }
                }
            }
        },
        "/cobrancas_vencimento_pix/{id_cobranca_vencimento_pix}/qrcode": {
            "get": {
                "tags": [
                    "Cobrança com vencimento (Indireto)"
                ],
                "operationId": "get/cobrancas_vencimento_pix/{id_cobranca_vencimento_pix}/qrcode",
                "description": "API descontinuada. Para verificar dados de um qrcode, por favor utilizar a API ...",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/consultaSaida"
                                }
                            }
                        },
                        "description": "OK",
                        "headers": {
                            "Content-Location": {
                                "description": "URI correspondente a pesquisa corrente",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400_get"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_get"
                    },
                    "404": {
                        "$ref": "#/components/responses/404_get"
                    },
                    "410": {
                        "$ref": "#/components/responses/410_get"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_get"
                    },
                    "503": {
                        "$ref": "#/components/responses/503_get"
                    },
                    "504": {
                        "$ref": "#/components/responses/504_get"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/components/parameters/x-itau-apikey"
                    },
                    {
                        "in": "path",
                        "name": "id_cobranca_vencimento_pix",
                        "required": true,
                        "description": "Id a ser consultado.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "header",
                        "name": "x-correlationID",
                        "required": false,
                        "description": "Identificador de correlação que serve como um agrupar dentro da estrutura de audit trail",
                        "schema": {
                            "type": "string"
                        }
                    }
                ]
            }
        },
        "/cobrancas_estatico_pix": {
            "post": {
                "tags": [
                    "Estático (Clientes e Indiretos)"
                ],
                "operationId": "post/cobrancas_estatico_pix",
                "description": "Operação responsável por emitir um QR Code estático.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/x-itau-apikey"
                    },
                    {
                        "$ref": "#/components/parameters/x-itau-correlationID"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/cobrancaEstaticoPixEntrada"
                            },
                            "examples": {
                                "emissão de cobrança estática com campos mínimos obrigatórios": {
                                    "$ref": "#/components/examples/request_post_cobrancas_estatico_campos_obrigatorios"
                                },
                                "emissão de cobrança estática com todos os campos": {
                                    "$ref": "#/components/examples/request_post_cobrancas_estatico_completo"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaEstaticoPixSaida"
                                },
                                "examples": {
                                    "cobrança estática emitida com sucesso": {
                                        "$ref": "#/components/examples/response_post_cobrancas_estatico"
                                    }
                                }
                            }
                        },
                        "description": "QR Code estático gerado."
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaEstatica_400"
                                }
                            }
                        },
                        "description": "Requisição com formato inválido."
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaEstatica_403"
                                }
                            }
                        },
                        "description": "Requisição de participante autenticado que viola alguma regra de autorização."
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaEstatica_404"
                                }
                            }
                        },
                        "description": "Recurso solicitado não foi encontrado."
                    },
                    "503": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaEstatica_503"
                                }
                            }
                        },
                        "description": "Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento."
                    }
                }
            }
        },
        "/cobrancas_estatico_pix/{id_cobranca_estatico_pix}": {
            "patch": {
                "tags": [
                    "Estático (Clientes e Indiretos)"
                ],
                "operationId": "patch/cobrancas_estatico_pix/{id_cobranca_estatico_pix}",
                "description": "Operação responsável por revisar um QR Code estático.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/x-itau-apikey"
                    },
                    {
                        "$ref": "#/components/parameters/x-itau-correlationID"
                    },
                    {
                        "$ref": "#/components/parameters/id_cobranca_estatico_pix"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/cobrancaEstaticoAlteracaoEntrada"
                            },
                            "examples": {
                                "alteração de cobrança estática com todos os campos": {
                                    "$ref": "#/components/examples/request_patch_cobrancas_estatico_completo"
                                },
                                "alteração de valor": {
                                    "$ref": "#/components/examples/request_patch_cobrancas_estatico_valor"
                                },
                                "alteração de chave pix": {
                                    "$ref": "#/components/examples/request_patch_cobrancas_estatico_chave"
                                },
                                "alteração de mensagem": {
                                    "$ref": "#/components/examples/request_patch_cobrancas_estatico_mensagem"
                                },
                                "alteração de simulação": {
                                    "$ref": "#/components/examples/request_patch_cobrancas_estatico_simulacao"
                                },
                                "cancelamento da cobrança estática": {
                                    "$ref": "#/components/examples/request_patch_cobrancas_estatico_status"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaEstaticoPixSaida"
                                },
                                "examples": {
                                    "cobrança estática revisada com sucesso": {
                                        "$ref": "#/components/examples/response_post_cobrancas_estatico"
                                    }
                                }
                            }
                        },
                        "description": "QR Code estático revisado."
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaEstatica_400"
                                }
                            }
                        },
                        "description": "Requisição com formato inválido."
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaEstatica_403"
                                }
                            }
                        },
                        "description": "Requisição de participante autenticado que viola alguma regra de autorização."
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaEstatica_404"
                                }
                            }
                        },
                        "description": "Recurso solicitado não foi encontrado."
                    },
                    "503": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cobrancaEstatica_503"
                                }
                            }
                        },
                        "description": "Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento."
                    }
                }
            }
        },
        "/cobrancas_estatico_pix/{id_cobranca_estatico_pix}/qrcode": {
            "get": {
                "tags": [
                    "Estático (Clientes e Indiretos)"
                ],
                "operationId": "get/cobrancas_estatico_pix/{id_cobranca_estatico_pix}/qrcode",
                "description": "API descontinuada. Para verificar dados de um qrcode, por favor utilizar a API ...",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/consultaSaida"
                                }
                            }
                        },
                        "description": "OK",
                        "headers": {
                            "Content-Location": {
                                "description": "URI correspondente a pesquisa corrente",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400_get"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_get"
                    },
                    "404": {
                        "$ref": "#/components/responses/404_get"
                    },
                    "410": {
                        "$ref": "#/components/responses/410_get"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_get"
                    },
                    "503": {
                        "$ref": "#/components/responses/503_get"
                    },
                    "504": {
                        "$ref": "#/components/responses/504_get"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/components/parameters/x-itau-apikey"
                    },
                    {
                        "in": "path",
                        "name": "id_cobranca_estatico_pix",
                        "required": true,
                        "description": "Id a ser consultado.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "header",
                        "name": "x-correlationID",
                        "required": false,
                        "description": "Identificador de correlação que serve como um agrupar dentro da estrutura de audit trail",
                        "schema": {
                            "type": "string"
                        }
                    }
                ]
            }
        },
        "/lancamentos_pix": {
            "get": {
                "tags": [
                    "Consultas (Clientes e Indiretos)"
                ],
                "operationId": "get/lancamentos_pix",
                "description": "Operação responsável por resgatar os lançamentos de Pix na visão pagadora/emissora, contemplando tanto pagamentos quanto devoluções Pix.",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/lancamentosPixSaida"
                                    }
                                }
                            }
                        },
                        "description": "Ok",
                        "headers": {
                            "Content-Location": {
                                "description": "URI correspondente a pesquisa corrente",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400_get"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_get"
                    },
                    "404": {
                        "$ref": "#/components/responses/404_get"
                    },
                    "410": {
                        "$ref": "#/components/responses/410_get"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_get"
                    },
                    "503": {
                        "$ref": "#/components/responses/503_get"
                    },
                    "504": {
                        "$ref": "#/components/responses/504_get"
                    }
                },
                "parameters": [
                    {
                        "in": "query",
                        "name": "id_conta",
                        "required": false,
                        "description": "**Descrição:** ID da conta que que efetuou a operação. Campo composto por codigo ISPB + agencia (4 dígitos) + conta (13 dígitos), sem o DAC. \n\nExemplo: ISPB Itaú: 60701190, Agência: 1111, Conta: 12345-3, id_conta = '6070119011110000000012345'\n\nPara clientes indiretos, o ID da conta deve ser preenchido com a informação do ISPB indireto.\n\n**Observação:** É obrigatório o preenchimento do campo id_conta.\n",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "data_criacao_lancamento",
                        "required": false,
                        "description": "**Descrição:** Range de datas de pagamento/devolução dos pixs, no formato \"2020-06-01T16:00,2020-06-05T16:15\" com limite de 6 meses a partir da data da consulta. Este parâmetro filtra todos lançamentos que foram consumidos e disponibilizadas na conciliação neste intervalo.\n\n**Observação:** É obrigatório o preenchimento do campo data_criacao_lancamento ou do campo data_lancamento. Recomenda-se a utilização da data_criacao_lancamento.\n",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "data_lancamento",
                        "required": false,
                        "description": "**Descrição:** Range de datas para consultar a data de lançamento, no formato \"2020-06-01T16:00,2020-06-05T16:15\" com limite de 6 meses a partir da data da consulta. Este parâmetro filtra todos lançamentos que aconteceram no intervalo daquela data. \n\n**Observação:** É obrigatório o preenchimento do campo data_lancamento. Se preenchido data_criacao_lancamento, não preencher esse campo.\n",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "txid",
                        "required": false,
                        "description": "**Descrição:** Identificador do QR Code que possibilita a conciliação de pagamentos. \n\n**Observação:** Para QR Code Estático, este identificador deve conter no máximo 25 posições. Para QR Code Dinâmico, este código deve possuir entre 26 a 35 posições, podendo conter letras minúsculas (a-z), letras maiúsculas (A-Z) e números (0-9).\n",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "e2eid",
                        "required": false,
                        "description": "**Descrição:** Id fim a fim da transação.Esse campo é o id do pagamento. Transita nas mensagens de recebimento dos QR Codes e transferências.\n",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "visao",
                        "required": false,
                        "description": "**Descrição:** Indica se a consulta deve retornar os pix pela visão emissor (os que eu emiti e forma pagos/devolvidos) ou visão pagador (os que eu paguei/ recebi devolução). \n\n**Observação:** Caso não informado, vem as duas visões.\n",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "emissor",
                                "pagador"
                            ]
                        }
                    },
                    {
                        "in": "query",
                        "name": "tipo_lancamento",
                        "required": false,
                        "description": "**Descrição:** Indica se a consulta deve retornar pagamentos ou devoluções, ou ambos se não informado.\n",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "pagamento",
                                "devolucao"
                            ]
                        }
                    },
                    {
                        "in": "query",
                        "name": "tipo_operacao",
                        "required": false,
                        "description": "**Descrição:** Tipo da operação transacional que está sendo realizada.\n",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "debito",
                                "credito"
                            ]
                        }
                    },
                    {
                        "in": "query",
                        "name": "tipo",
                        "required": false,
                        "description": "**Descrição:** Tipo do lançamento do Pix, podendo ser estático, dinâmico ou transferência pix.\n",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "estatico",
                                "dinamico",
                                "transferencia"
                            ]
                        }
                    },
                    {
                        "in": "query",
                        "name": "id_documento",
                        "required": false,
                        "description": "**Descrição:** UUID que identifica o Documento\n",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "valor_documento_pagador_efetivo",
                        "required": false,
                        "description": "**Descrição:** CNPJ/CPF do pagador efetivo\n",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "documento",
                        "required": false,
                        "description": "**Descrição:** CNPJ do recebedor\n",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "chaves",
                        "required": false,
                        "description": "**Descrição:** Lista de chaves de endereçamento do recebedor, utilizada na emissão de um PIX. \n\n**Observação:** Inserir no formato 'chave1,chave2'\n",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "devolvido",
                        "required": false,
                        "description": "**Descrição:** Indica se um determinado pagamento foi devolvido (parcial ou total) ou não devolvido.\n",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "total",
                                "parcial",
                                "nao_devolvido"
                            ]
                        }
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "required": false,
                        "description": "**Descrição:** Definir um número de página para obter informações desta coleção\n",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "page_size",
                        "required": false,
                        "description": "**Descrição:** Limitar o número de elementos por página\n",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "view",
                        "required": false,
                        "description": "**Descrição:** Definição a visão que irá permitir o mecanismo de agrupar dados de saída de um determinado recurso.\n  -- basico: retorna somente os atributos básicos do recurso\n  -- completo: retorna todos os atributos do recurso\n",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "basico",
                                "completo"
                            ]
                        }
                    },
                    {
                        "in": "query",
                        "name": "order_by",
                        "required": false,
                        "description": "**Descrição:** Opção para ordenação.\n",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "order",
                        "required": false,
                        "description": "**Descrição:** Opção de ordenação ascendente ou descendente.\n",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "in": "query",
                        "name": "sub_tipo_pix",
                        "required": false,
                        "description": "**Descrição:** Subtipo do QR Code. \n\n**Observação:** Para QR Codes do tipo dinâmico, o subtipo pode ser imediato e vencimento. Para o QR Code do tipo estático, o subtipo pode ser estático registrado\n",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "imediato",
                                "vencimento",
                                "estatico_registrado"
                            ]
                        }
                    },
                    {
                        "in": "query",
                        "name": "sub_categoria",
                        "required": false,
                        "description": "**Descrição:** Subcategoria do QR Code para filtrar saque, troco, bolecode e qrcode estático cadastral.\n",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "saque",
                                "troco",
                                "bolecode",
                                "cadastral"
                            ]
                        }
                    },
                    {
                        "in": "query",
                        "name": "canal_operacao",
                        "required": false,
                        "description": "**Descrição:** Canal utilizado para emitir o QR Code.\n",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "bankline_pf",
                                "bankline_pj",
                                "mobile_pf",
                                "mobile_pj",
                                "api",
                                "rede",
                                "cnab",
                                "bankline_boleto_pix",
                                "api_externa_boleto_pix",
                                "cnab_boleto_pix"
                            ]
                        }
                    },
                    {
                        "in": "query",
                        "name": "operacao_credito",
                        "required": false,
                        "description": "**Descrição:** Indica se determinado QR Code foi utilizado como garantia de uma operação de crédito ou antecipado. \n\n**Observação:** Atualmente, apenas os QR Codes atrelados ao bolecode podem ser utilizados na operação de crédito. Vale ressaltar que o valor da operação do QR Code liquidado, quando atrelado a uma operação de crédito, não será creditado na conta emissora do QR Code.\n",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "in": "header",
                        "name": "x-itau-correlationID",
                        "required": false,
                        "description": "**Descrição:** Identificador de correlação que serve como um agrupador dentro da estrutura de audit trail.\n\n**RegEx:** `^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$`\n",
                        "schema": {
                            "type": "string"
                        },
                        "example": "bc4d8712-904a-47af-a3a0-63751ddb7e56"
                    },
                    {
                        "$ref": "#/components/parameters/x-itau-apikey"
                    }
                ]
            }
        },
        "/lancamentos_pix/{id_lancamento_pix}": {
            "get": {
                "tags": [
                    "Consultas (Clientes e Indiretos)"
                ],
                "operationId": "get/lancamentos_pix/{id_lancamento_pix}",
                "description": "Operação responsável por recuperar um lançamento PIX especifico",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/lancamentoPixSaida"
                                }
                            }
                        },
                        "description": "OK",
                        "headers": {
                            "Content-Location": {
                                "description": "URI correspondente a pesquisa corrente",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400_get"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_get"
                    },
                    "404": {
                        "$ref": "#/components/responses/404_get"
                    },
                    "410": {
                        "$ref": "#/components/responses/410_get"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_get"
                    },
                    "503": {
                        "$ref": "#/components/responses/503_get"
                    },
                    "504": {
                        "$ref": "#/components/responses/504_get"
                    }
                },
                "parameters": [
                    {
                        "in": "path",
                        "name": "id_lancamento_pix",
                        "required": true,
                        "description": "**Descrição:** ID do lancamento_pix\n",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/x-itau-apikey"
                    }
                ]
            }
        },
        "/estabelecimento_saque_troco_pix": {
            "delete": {
                "tags": [
                    "Pix Saque e Pix Troco (Clientes)"
                ],
                "operationId": "delete/estabelecimento_saque_troco_pix",
                "description": "API responsável por efetuar a remoção de um ou mais pontos de atendimento do Saque e Troco Pix.",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200_delete"
                    },
                    "202": {
                        "$ref": "#/components/responses/202_delete"
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "$ref": "#/components/responses/400_delete"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_delete"
                    },
                    "404": {
                        "$ref": "#/components/responses/404_delete"
                    },
                    "410": {
                        "$ref": "#/components/responses/410_delete"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_delete"
                    },
                    "503": {
                        "$ref": "#/components/responses/503_delete"
                    },
                    "504": {
                        "$ref": "#/components/responses/504_delete"
                    }
                },
                "parameters": [
                    {
                        "in": "query",
                        "name": "ponto_atendimento_id",
                        "required": true,
                        "description": "**Descrição:**  O campo ponto_atendimento_id determina o identificador do ponto de atendimento. O objetivo desse campo é ser um elemento que possibilite a busca de um ponto de atendimento especifico.\n\n**Observação:** Os caracteres permitidos no contexto do Pix para o campo txId são: Letras minúsculas, de ‘a’ a ‘z’, Letras maiúsculas, de ‘A’ a ‘Z’, Dígitos decimais, de ‘0’ a ‘9’.\n",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "header",
                        "name": "x-itau-correlationID",
                        "required": false,
                        "description": "**Descrição:** Identificador de correlação que serve como um agrupar dentro da estrutura de audit trail\n",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/x-itau-apikey"
                    }
                ]
            },
            "get": {
                "tags": [
                    "Pix Saque e Pix Troco (Clientes)"
                ],
                "operationId": "get/estabelecimento_saque_troco_pix",
                "description": "API responsável por recuperar os dados do(s) ponto(s) de atendimento do agente de saque. É possivel consultar um ponto de atendimento especifico atraves de seu respectivo ID. Caso o ID não seja informado na busca serão retornados todos os pontos de atendimento do agente em questão.",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/registro"
                                }
                            }
                        },
                        "description": "OK",
                        "headers": {
                            "Content-Location": {
                                "description": "URI correspondente a pesquisa corrente",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400_get"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_get"
                    },
                    "404": {
                        "$ref": "#/components/responses/404_get"
                    },
                    "410": {
                        "$ref": "#/components/responses/410_get"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_get"
                    },
                    "503": {
                        "$ref": "#/components/responses/503_get"
                    },
                    "504": {
                        "$ref": "#/components/responses/504_get"
                    }
                },
                "parameters": [
                    {
                        "in": "query",
                        "name": "ponto_atendimento_id",
                        "required": false,
                        "description": "**Descrição:**  O campo ponto_atendimento_id determina o identificador do ponto de atendimento. O objetivo desse campo é ser um elemento que possibilite a busca de um ponto de atendimento especifico.\n\n**Observação:** Os caracteres permitidos no contexto do Pix para o campo txId são: Letras minúsculas, de ‘a’ a ‘z’, Letras maiúsculas, de ‘A’ a ‘Z’, Dígitos decimais, de ‘0’ a ‘9’.\n",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "required": false,
                        "description": "Número da página que está sendo requisitada",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "page-size",
                        "required": false,
                        "description": "Quantidade total de registros de pontos de atendimento por página",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "header",
                        "name": "x-itau-correlationID",
                        "required": false,
                        "description": "Identificador de correlação que serve como um agrupar dentro da estrutura de audit trail",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/x-itau-apikey"
                    }
                ]
            },
            "post": {
                "tags": [
                    "Pix Saque e Pix Troco (Clientes)"
                ],
                "operationId": "post/estabelecimento_saque_troco_pix",
                "description": "O Saque e Troco Pix permite a disponibilização do serviço de saque de dinheiro nos estabelecimento comerciais. No troco o valor do QR Code é superior ao valor da compra e o estabelecimento devolve ao cliente o valor excedente em espécie. No saque será repassado o valor total do QR Code ao cliente sacador. Essa API é responsável por efetuar o cadastro de um ou mais pontos de atendimento para esse serviço. No momento do cadastro de um ponto de atendimento, serão validados os campos obrigatórios bem como os campos de domínios definidos no contrato da API. Além disso, também serão validadas as regras de negócio de acordo com os parâmetros enviados no corpo da requisição.",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                },
                                "examples": {
                                    "200_estabelecimento_saque_troco": {
                                        "$ref": "#/components/examples/200_estabelecimento_saque_troco"
                                    }
                                }
                            }
                        },
                        "description": "OK",
                        "headers": {
                            "Content-Location": {
                                "description": "URI correspondente ao item criado.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "201": {
                        "$ref": "#/components/responses/201_post"
                    },
                    "400": {
                        "$ref": "#/components/responses/400_post"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_post"
                    },
                    "404": {
                        "$ref": "#/components/responses/404_post"
                    },
                    "410": {
                        "$ref": "#/components/responses/410_post"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_post"
                    },
                    "503": {
                        "$ref": "#/components/responses/503_post"
                    },
                    "504": {
                        "$ref": "#/components/responses/504_post"
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "x-correlationID",
                        "required": false,
                        "description": "Identificador de correlação que serve como um agrupar dentro da estrutura de audit trail",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/x-itau-apikey"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/postEstabelecimentoSaqueTrocoPixEntrada"
                            },
                            "examples": {
                                "request_post_estabelecimento_saque_troco": {
                                    "$ref": "#/components/examples/request_post_estabelecimento_saque_troco"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/estabelecimento_saque_troco_pix/{ponto_atendimento_id}": {
            "patch": {
                "tags": [
                    "Pix Saque e Pix Troco (Clientes)"
                ],
                "operationId": "patch/estabelecimento_saque_troco_pix/{ponto_atendimento_id}",
                "description": "Atualiza pontos de atendimento de um agente de saque",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/patchEstabelecimentoSaqueTrocoPixSaida"
                                },
                                "examples": {
                                    "200_estabelecimento_saque_troco": {
                                        "$ref": "#/components/examples/200_estabelecimento_saque_troco"
                                    }
                                }
                            }
                        },
                        "description": "OK",
                        "headers": {
                            "Content-Location": {
                                "description": "URI correspondente ao item atualizado.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "202": {
                        "$ref": "#/components/responses/202_patch"
                    },
                    "400": {
                        "$ref": "#/components/responses/400_patch"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_patch"
                    },
                    "404": {
                        "$ref": "#/components/responses/404_patch"
                    },
                    "410": {
                        "$ref": "#/components/responses/410_patch"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_patch"
                    },
                    "503": {
                        "$ref": "#/components/responses/503_patch"
                    },
                    "504": {
                        "$ref": "#/components/responses/504_patch"
                    }
                },
                "parameters": [
                    {
                        "in": "path",
                        "name": "ponto_atendimento_id",
                        "required": true,
                        "description": "Identificador do ponto de atendimento.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/x-itau-apikey"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/patchEstabelecimentoSaqueTrocoPixEntrada"
                            },
                            "examples": {
                                "request_patch_estabelecimento_saque_troco": {
                                    "$ref": "#/components/examples/request_patch_estabelecimento_saque_troco"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/boletos_pix": {
            "post": {
                "tags": [
                    "Bolecode (Clientes)"
                ],
                "operationId": "post/boletos_pix",
                "description": "API responsável por efetuar a emissão de um boleto + Pix. Obs: Por regras internas não é permitido o uso de caracter especial, tais como os exemplos: *“ [ “ , “ : “ , “ < ” , “ > ” , “ & ” , “ ; ” , “ ' “ , “ \" “ , “ ` “ , “ ( “ , “ ) “ , “ # “ , “ ** “ , “ / “ , “ | “ , “ *] “ , “ ü ” , “ http “ , “ javascript “ , “ alert “\n",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/bolecodeSaida"
                                },
                                "examples": {
                                    "200_bolecode": {
                                        "$ref": "#/components/examples/200_bolecode"
                                    }
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "201": {
                        "$ref": "#/components/responses/201_post"
                    },
                    "202": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/bolecode_202"
                                }
                            }
                        },
                        "description": "Operação em andamento, consulte seu bolecode em instantes."
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/bolecode_400"
                                }
                            }
                        },
                        "description": "Parâmetros incorretos (os dados de entradas estão incorretos ou ausentes)."
                    },
                    "403": {
                        "$ref": "#/components/responses/403_post"
                    },
                    "404": {
                        "$ref": "#/components/responses/404_post"
                    },
                    "410": {
                        "$ref": "#/components/responses/410_post"
                    },
                    "422": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/bolecode_422"
                                }
                            }
                        },
                        "description": "Erro de negócio."
                    },
                    "500": {
                        "$ref": "#/components/responses/500_post"
                    },
                    "503": {
                        "$ref": "#/components/responses/503_post"
                    },
                    "504": {
                        "$ref": "#/components/responses/504_post"
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "x-itau-correlationID",
                        "required": false,
                        "description": "Identificador de correlação que serve como um agrupar dentro da estrutura de audit trail",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/x-itau-apikey"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/boleCodeEntrada"
                            },
                            "examples": {
                                "request_post_boletos_pix": {
                                    "$ref": "#/components/examples/request_post_boletos_pix"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/boletos_pix_indireto": {
            "post": {
                "tags": [
                    "Bolecode (Clientes)"
                ],
                "operationId": "post/boletos_pix_indireto",
                "description": "EM CONSTRUÇÃO Emissão de bolecode para participantes indiretos do PIX",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/boletosPixIndiretoSaida"
                                },
                                "examples": {
                                    "200_boleto_pix_indireto": {
                                        "$ref": "#/components/examples/200_boleto_pix_indireto"
                                    }
                                }
                            }
                        },
                        "description": "OK",
                        "headers": {
                            "Content-Location": {
                                "description": "URI correspondente ao item criado.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "201": {
                        "$ref": "#/components/responses/201_post"
                    },
                    "400": {
                        "$ref": "#/components/responses/400_post"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_post"
                    },
                    "404": {
                        "$ref": "#/components/responses/404_post"
                    },
                    "410": {
                        "$ref": "#/components/responses/410_post"
                    },
                    "500": {
                        "$ref": "#/components/responses/500_post"
                    },
                    "503": {
                        "$ref": "#/components/responses/503_post"
                    },
                    "504": {
                        "$ref": "#/components/responses/504_post"
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "x-itau-correlationID",
                        "required": false,
                        "description": "Identificador de correlação que serve como um agrupar dentro da estrutura de audit trail",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/x-itau-apikey"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/boletosPixIndireto"
                            },
                            "examples": {
                                "request_post_boleto_pix_indireto": {
                                    "$ref": "#/components/examples/request_post_boleto_pix_indireto"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "parameters": {
            "x-itau-apikey": {
                "name": "x-itau-apikey",
                "in": "header",
                "description": "**Descrição:** Chave da API utilizado para autorizar o consumo de uma aplicação requisitante.\n\n**RegEx:** `^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$`\n",
                "required": true,
                "schema": {
                    "type": "string"
                },
                "example": "96decebf-5c47-4410-95bf-0c4b803e4bb2"
            },
            "x-itau-correlationID": {
                "name": "x-itau-correlationID",
                "in": "header",
                "description": "**Descrição:** Identificador de correlação que serve como um agrupador dentro da estrutura de audit trail.\n\n**RegEx:** `^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$`\n",
                "required": false,
                "schema": {
                    "type": "string"
                },
                "example": "bc4d8712-904a-47af-a3a0-63751ddb7e56"
            },
            "id_cobranca_imediata_pix": {
                "name": "id_cobranca_imediata_pix",
                "in": "path",
                "description": "**Descrição:** Identificador da cobrança imediata a ser consultado.\n\n**RegEx:** `^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$`\n",
                "required": true,
                "schema": {
                    "type": "string"
                },
                "example": "bc4d8712-904a-47af-a3a0-63751ddb7e56"
            },
            "id_cobranca_vencimento_pix": {
                "name": "id_cobranca_vencimento_pix",
                "in": "path",
                "description": "**Descrição:** Identificador da cobrança com vencimento a ser consultado.\n\n**RegEx:** `^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$`\n",
                "required": true,
                "schema": {
                    "type": "string"
                },
                "example": "bc4d8712-904a-47af-a3a0-63751ddb7e56"
            },
            "id_cobranca_estatico_pix": {
                "name": "id_cobranca_estatico_pix",
                "in": "path",
                "description": "**Descrição:** Identificador da cobrança estática a ser consultado.\n\n**RegEx:** `^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$`\n",
                "required": true,
                "schema": {
                    "type": "string"
                },
                "example": "bc4d8712-904a-47af-a3a0-63751ddb7e56"
            },
            "estatisticas": {
                "name": "estatisticas",
                "in": "query",
                "description": "**Descrição:** Habilita ou desabilita o retorno dos dados de análise de fraudes.\n",
                "required": false,
                "schema": {
                    "type": "boolean",
                    "default": false,
                    "enum": [
                        true,
                        false
                    ]
                }
            }
        },
        "examples": {
            "200_leituras_qrcodes_pix_dinamico_cob": {
                "description": "",
                "value": {
                    "data": {
                        "qrcode_emv": "00020101021226900014BR.GOV.BCB.PIX2568localhost:8080/pix/v2/pix/qr/v2/93c0713b-948f-4a56-b632-fece4aa104515204000053039865802BR5925PMD Ale Multidata da Silv6009SAO PAULO62070503***63040963",
                        "qrcode_pix": {
                            "tipo": "dinamico",
                            "txid": "7978c0c97ea847e78e8849634473c1f1",
                            "cobranca": {
                                "tipo_cobranca": "cob",
                                "calendario": {
                                    "criacao": "2023-06-01T16:51:59.90Z",
                                    "apresentacao": "2023-06-01T18:17:15.62Z",
                                    "expiracao": 3600,
                                    "limite_expiracao": "2023-06-02T01:11:59.90Z",
                                    "expirado": false
                                },
                                "devedor": {
                                    "cnpj": "12345678000195",
                                    "nome": "Empresa de Serviços SA",
                                    "logradouro": "Avenida do Estado 5533",
                                    "cidade": "São Paulo",
                                    "uf": "SP",
                                    "cep": "01516100"
                                },
                                "revisao": 0,
                                "status": "ATIVA",
                                "valor": {
                                    "original": "100.00",
                                    "modalidade_alteracao": 0
                                },
                                "solicitacao_pagador": "Mensagem de solicitação do pagador do documento ao emissor",
                                "informacoes_adicionais": [
                                    {
                                        "nome": "Detalhes do Pagamento",
                                        "valor": "Informação Adicional do PSP do Recebedor"
                                    }
                                ]
                            },
                            "recebedor": {
                                "cnpj": "17192451000170",
                                "nome": "PMD Ale Multidata da Silva",
                                "nome_fantasia": "PMD Ale Multidata",
                                "tipo_chave": "cnpj",
                                "chave": "17192451000170",
                                "dados_conta": {
                                    "tipo_conta": "corrente",
                                    "ispb": "17192451",
                                    "agencia": "1500",
                                    "conta": "00609555"
                                }
                            },
                            "valor": "100.00",
                            "info_adicional": "Mensagem adicional"
                        },
                        "dadosAnaliticosFraude": {
                            "estatisticasPessoa": {
                                "spi": {
                                    "marcaDeAgua": "2023-01-01T10:00:00.000Z",
                                    "liquidacoes": {
                                        "ultimosNoventaDias": 0,
                                        "ultimosDozeMeses": 0,
                                        "ultimosSessentaMeses": 0
                                    }
                                },
                                "marcacoesDeFraude": {
[...]
